<div class="backgroud">
  <app-nav-bar></app-nav-bar>

  <div class="conteiner">
    <mat-tab-group class = "mat_tab_group" >
      <mat-tab label="Resultados globales" class="graph" style="height: 100%;">
        <div class="graph" style="height: 100%;">
          <app-selector-grahp1 [sesionId] = "this.sesionId"></app-selector-grahp1>
        </div>
      </mat-tab>
      <!-- <mat-tab label="Estudiantes conectados" class="graph" style="height: 100%;">
        <div class="graph" style="height: 100%;">
          <app-studens-conected [sesionId] = "this.sesionId"></app-studens-conected>
        </div>
      </mat-tab> -->
      <mat-tab label="Información por estudiante" class="graph" style="height: 100%;">
        <div class="graph" style="height: 100%;">
          <app-emotion-student [sesionId] = "this.sesionId"></app-emotion-student>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
