<img class="university-logo" [src]="universityLogo" alt="University logo">

<div class="login-form-wrapper">

    <div class="login-form-title">
        <p class="title">Bienvenido!</p>
        <p class="subtitle">Por favor ingresa a tu cuenta</p>
    </div>

    <form (submit)="submitForm($event)">
        <!-- Username -->
        <div class="input-wrapper">
            <img class="username" [src]="userLogo" alt="user logo">
            <input type="text" [(ngModel)]="username" name="username" autocomplete="off" placeholder="Usuario" id="username">
        </div>
        <!-- Password -->
        <div class="input-wrapper">
            <img class="password" [src]="passwordLogo" alt="password logo">
            <input type="password" [(ngModel)]="password" name="password" autocomplete="off" placeholder="Contraseña" id="password">
        </div>
        <!-- Submit button -->
        <button type="submit"> Ingresar </button>
    </form>

</div>