<div class="selector">
  <mat-form-field appearance="fill">
    <mat-label>Estudiante</mat-label>
    <mat-select [(value)]="student" (click)="table()">
      <mat-option *ngFor="let student of listStudents" [value]="student">
        {{ student }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class ="list">
  <table mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="emocion">
      <th mat-header-cell *matHeaderCellDef> Emocion</th>
      <td mat-cell *matCellDef="let element"> {{element.emocion}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10,20,30]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


